{% extends 'base.html' %}

{% block title %} To-Do List{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<br/>

    {% if all_items %}
        <table class ='table table-bordered'>
        <tr>
            <th>Things TODO</th>
            <th><center>Update Status</center></th>
            <th><center>Current Status</center></th>
            <th><center>Finished Date&Time</center></th>
            <th><center>Delete it from the list</center></th>
        </tr>
        {% for things in all_items %}
            {% if things.completed %}
                <tr class="table-secondary">
                    <td><s>{{ things.item }}</s></td>
                    <td align="center"><a href="{% url 'uncross' things.id %}">Redo it</a></td>
                    <td align="center">{{ things.completed }}</td>
                    <td align="center">{{ things.completedTime }}</td>
                    <td align="center"><a href="{% url 'delete' things.id %}">Delete</a></td>
                </tr>
            {% else %}
                <tr>
                    <td>{{ things.item }}</td>
                    <td align="center"><a href="{% url 'cross_off' things.id %}">Done</a></td>
                    <td align="center">{{ things.completed }}</td>
                    <td align="center">N/A</td>
                    <td align="center"><a href="{% url 'delete' things.id %}">Delete</a></td>
                </tr>

            {% endif%}
        {% endfor %}

        </table>
    {% endif %}
{% endblock %}